{
  "presets": [
    ["es2015", { "modules": false }],
    ["stage-3"]
  ],
  "plugins": [
    "transform-runtime",
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "lodash"
  ]
}
